div, p, main, button, input, body, html {
  margin: 0;
  padding: 0;
}

body, button, input {
  font-family: 'Roboto', sans-serif;
  color: #1A1A1A;
}

.grid {
  display: flex;
}

.grid-cell {
  margin-bottom: 1em;
  flex: 1;
}

input, button {
  font-size: 7vw;
  text-align: center;
  border: None;

  border-radius: 1em;
}

input:focus, button:focus {
  outline:0;
}

body {
  background-color: #005f18;
}

main {
  padding-top: 1em;
}

.toggle-buttons > button {
  padding: 0.5em 0.5em;
  background-color: #3D96AB;
  color: #95D2E0;
}

.toggle-buttons > button.selected {
  background-color: #44c767;
  color:#ffffff;
}

.toggle-buttons > #direction {
  flex: 0.5;
  text-align: center;
}

.toggle-buttons > .to-euros:after {
  content: ">"
}

.toggle-buttons > .to-bahts:after {
  content: "<"
}

#currency-input, #converted-currency {
  padding: 0.5em; 0.5em;
}

#currency-input {
  background-color: #99EAAE;
}

#converted-currency {
  background-color: #95D2E0;
}

#currency-selector {
  margin: 1.5em 1.5em;
}

#convert-button {
  margin-left: auto;
  margin-right: auto;
  flex: 0.5;
  padding: 0.5em 0.5em;
  background-color: #44c767;
  color:#ffffff;
}

#convert-button:active {
  background-color: #307843;
}


