div, p, main, button, input, body, html, h1 {
  margin: 0;
  padding: 0;
}

body, button, input, h1 {
  font-family: 'Roboto', sans-serif;
  color: #1A1A1A;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 10vw;
  color: #2c5f31;
}

.grid {
  display: flex;
  margin-bottom: 1.5em;
}

.grid-cell {
  flex: 1;
}

input, button {
  font-size: 7vw;
  text-align: center;
  border: None;
  border-radius: 0.25em;
  width: 100%;
}

#baht-button {
  border-radius: 0;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}

#euro-button {
  border-radius: 0;
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}

input:focus, button:focus {
  outline:0;
}

body {
  background-color: #efefef;
}

main {
  padding: 1.25em; 1.25em;
}

.toggle-buttons > button {
  padding: 0.5em 0.5em;
  background-color: #3D96AB;
  color: #95D2E0;
}

.toggle-buttons > button.selected {
  background-color: #44c767;
  color:#ffffff;
}

#currency-input, #converted-currency {
  padding: 0.5em; 0.5em;
}

#currency-input {
  background-color: #44c767
}

#converted-currency {
  background-color: #3D96AB;
}

#convert-button {
  margin-left: auto;
  margin-right: auto;
  flex: 0.5;
  padding: 0.5em 0.5em;
  background-color: #44c767;
  color:#ffffff;
}

#convert-button:active {
  background-color: #307843;
}


